.container {
  width: 100%;
  padding: 10px;
  min-height: 100vh;
  color: @ansiGreen;
  background-color: @background;
  h2 {
     text-align: center;
  }
  h3 {
    color: @ansiBrightWhite;
    font-size: 16px;
    margin: 20px 0;
  }
  box-sizing: border-box

}

.card {
  width: 98%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  border: 1px solid @foreground;
  box-sizing: border-box
}

.subText {
  margin-left: 20px;
}

.textContainer {
  display: inline-block;
  margin: 8px;
  color: @foreground;
  &.small {
    font-size: 12px;
  }
  &.middle {
    font-size: 14px;
  }
  &.big {
    font-size: 16px;
  }
}